body{
    width: 100%;
}


img{
    position: relative;
    border-radius: 70px;
    padding: 30px;
    margin: 20px;
    float: inline-start;

}

p{
    text-align: center;
}

ol{
    
   margin: 50px;
   
}