body{
    margin: 0;
    padding: 0;
}
/* flex container */
.navbar{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
}
.navbar ul{
    list-style: none;
    display: flex;
}
li{
    padding: 10px;
}
img{
    height: 4rem;
}